.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.log
.babel*
.parcelrc
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
node_modules/**/*.txt
node_modules/**/LICENSE
node_modules/**/CHANGELOG*
node_modules/**/.npmignore
node_modules/**/.editorconfig
node_modules/**/.eslintrc*
node_modules/**/tsconfig.json